{{!-- Citation: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body{
            {{!-- background-color: #9df9ef; --}}
        }

        h1{
            color: black;
            font-family: "Droid Sans";
            text-align: center;
            font-size: 60px;
        }
        h2{
            color: black;
            font-family: "Droid Sans";
            text-align: center;
            font-size: 30px;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        form{
            text-align-last: center;
        }
         .center {
            margin-left: auto;
            margin-right: auto;
        }
        label, p{
            font-size: 20px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <div class="nav navbar-nav">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#home">Home</span></a>
            <a class="nav-item nav-link" href="users.html">Users</a>
            <a class="nav-item nav-link" href="AItools.html">AI Tools</a>
            <a class="nav-item nav-link" href="downloads.html">Downloads</a>
            <a class="nav-item nav-link" href="orders.html">Orders</a>
            <a class="nav-item nav-link" href="orderdetails.html">Order Details</a>
            <a class="nav-item nav-link" href="developers.html">Developers</a>
            <a class="nav-item nav-link" href="developerDetails.html">Developer Details</a>
        </div>
    </div>  
    </div>
</nav>

<div class="container">
    <div class="jumbotron text-center">
    <h1>AI Tools Home Page</h1>
    <p>
    AI MAX Marketplace: <br>Buy and Sell Softwares, Applications,
    and Tools empowered by Artifical Intelligence
    </p>
    </div>

</div>

<div class="container">
    <h2>Relational Database</h2>
    <div class="row">
        <div class="col">
            <div class="thumbnail">
                <a href="https://lh3.googleusercontent.com/pw/ABLVV86gC15mz7jUl3GebAZuzdu8VyoCXGZdcGiXUiVJHjdQSdruTRyEoikLea5cJyk2w1icdqT9YgqtNv_x8JVicwU1F6OU8qSfUUHwXqasUU-u4THAnOaNeHwGDkn157kaavpaIdOhO7cmKOP3glj0wXhJNSpfpkQpZdHzVG9f2Owuzc0r87Vo3gQFNUn32fofWhIChyZubGIqD5EJuooFUnd5zVxpYO1E1kFOZPvk1j_KwpOKJJrKo_yolfJTHYVBSGogdVm-CHS9TcRsWZo7mp6MgouSN0HPRVQ3nMCI8WIHMqK0IV70VVrVAFw946ZlSBVa79oBGTLvQVB6MYXgQQB8QllB09tfmDJs6NpMFGy2bL8aO8_iKR29ZhfmLME-nm2PzMIgfiyGvZDIQbluhDUc04V5SttOBs7TmxuZgoyaWlHZugoAk3Ky_E1MVTyOu_99HM5ihlT5nwperMkmWRgkHaYCJrDVb7LP3i7OzB22YFhLKvH42bge4id5TBzD4kHk3ugUFZTZkaEMeHg9RHqrGOwINfpDUv101GjOY9_hkZp_kLjEr-xkclnxSvb3Z2DkaGsQGP4X7OEf51dBqKPL_3qVlNhHmlaI6TD59fRwp0feh6MD6-g90pUnW-TZoEJwhr2aMQlQKFYjPPAiyvhSPjt8ymGfMNKOQt7W4nsrKL_VaJjAy3kv5q7OeQthrGeH2Pm24m81KqbANlTGu8Xhjv1YB63NHsTCNVPYBomiBJzvV7qGHXu4qMUj-0JRjkHEPeuK9x8x2kPQ3aWUzDoM46oXMnGvjsxD0eC7Q3FgB-fwMsJC2eiuRBJRxj9oH6FwwOlvlONLGMISYeoadXNih2AbA56mO0KrxPb4acX5D3qrKIEtyesJ3WbJoGpBj8ljba9VxiJoILewmWy5z4NbrWksoB2q11OCro3LWS0=w1920-h1080-s-no-gm?authuser=0" target="_blank">
                <img src="https://lh3.googleusercontent.com/pw/ABLVV86gC15mz7jUl3GebAZuzdu8VyoCXGZdcGiXUiVJHjdQSdruTRyEoikLea5cJyk2w1icdqT9YgqtNv_x8JVicwU1F6OU8qSfUUHwXqasUU-u4THAnOaNeHwGDkn157kaavpaIdOhO7cmKOP3glj0wXhJNSpfpkQpZdHzVG9f2Owuzc0r87Vo3gQFNUn32fofWhIChyZubGIqD5EJuooFUnd5zVxpYO1E1kFOZPvk1j_KwpOKJJrKo_yolfJTHYVBSGogdVm-CHS9TcRsWZo7mp6MgouSN0HPRVQ3nMCI8WIHMqK0IV70VVrVAFw946ZlSBVa79oBGTLvQVB6MYXgQQB8QllB09tfmDJs6NpMFGy2bL8aO8_iKR29ZhfmLME-nm2PzMIgfiyGvZDIQbluhDUc04V5SttOBs7TmxuZgoyaWlHZugoAk3Ky_E1MVTyOu_99HM5ihlT5nwperMkmWRgkHaYCJrDVb7LP3i7OzB22YFhLKvH42bge4id5TBzD4kHk3ugUFZTZkaEMeHg9RHqrGOwINfpDUv101GjOY9_hkZp_kLjEr-xkclnxSvb3Z2DkaGsQGP4X7OEf51dBqKPL_3qVlNhHmlaI6TD59fRwp0feh6MD6-g90pUnW-TZoEJwhr2aMQlQKFYjPPAiyvhSPjt8ymGfMNKOQt7W4nsrKL_VaJjAy3kv5q7OeQthrGeH2Pm24m81KqbANlTGu8Xhjv1YB63NHsTCNVPYBomiBJzvV7qGHXu4qMUj-0JRjkHEPeuK9x8x2kPQ3aWUzDoM46oXMnGvjsxD0eC7Q3FgB-fwMsJC2eiuRBJRxj9oH6FwwOlvlONLGMISYeoadXNih2AbA56mO0KrxPb4acX5D3qrKIEtyesJ3WbJoGpBj8ljba9VxiJoILewmWy5z4NbrWksoB2q11OCro3LWS0=w1920-h1080-s-no-gm?authuser=0" alt="ERD" style="width:100%">
                <div class="caption">
                    <p>Entity-Relationship Diagram</p>
                </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="thumbnail">
                <a href="https://lh3.googleusercontent.com/pw/ABLVV847MPXqxhFVI8xd3dcFflHsa9yJ96jvgAa2ZA5zCXjspZBxhek-_-73hAMINesOWOXRcofzXqi9gmLJFcm4JO9TT12tnRzgz0mNmjtjoZp7EY02OP4hfL5Oo8PFJyOyI3tNiRT4_gX8PRbKhGct7tSQxGZVGDoBjINrl-dl4AiXJHtPR48vuXA88CyZQbHAqdcCGMGJvdtEC_ebIyjxDp-CWCAYPVyDnK4-llJAuVCkW9BGq8DNor78SPN-JTfrExgPb56l7gjRID9tPbemwV_Tzjes31EbcRrxFRf3y0kZrXXV3C8TzI1xAHjlJyQpKbA0gkJZR0mFzg-A18FHMObcLMwfbfF8mB7Z-TN549ApRqNvZMTb5iLv7PWAjyd9YafL42zXnCnTc9seiQoE8dpzA4o3tUi0EnH-CtWnb1e8ogWun6Xt8Pv2nbc71T6XKU-9XgwQxSzIaStA3CCcBuxbFns4nH0Rr-s1JiIajI3L8FTAe0v3V0t09vkTBlD7qTyYkWT84zzhugbp18Q948CbtNbESc3HWKR67dQXipAkVhdg8wEksGGZHGzmJFv9T8tOjcwcvGx-9kCeMxrNtzJxDpq5MwhoHCX9-Dhc9vQ_9swq2ASjsowhviCiSem_LKMF80-6Pq-HxmVl3Z-p85YtEB2s5Hw949XIPbb33JniWT2VBQm0g7lzOnmp3aiKWePc1vb1WHYgk7b4ZaFfF44a_eXLWDqGrIPRIDMQF10Zl5gxLiQKP91U-QVssvjEIRTDTe_YE1mPn3a1RZTEGku-dbC-x64KTEkFeqBb8xpBiQsGbEtORscnIS-qnrn5V6qVOlASLOG8cxK8srX1scYhLbQdbKP3CI2sDuxVtUVJocAKG1VRkWV8gF0GEWWAgEybZUufDby4dvu-ITQfJZA77y4U4CYYy3GusK5PUF4=w1920-h1080-s-no-gm?authuser=0" target="_blank">
                <img src="https://lh3.googleusercontent.com/pw/ABLVV847MPXqxhFVI8xd3dcFflHsa9yJ96jvgAa2ZA5zCXjspZBxhek-_-73hAMINesOWOXRcofzXqi9gmLJFcm4JO9TT12tnRzgz0mNmjtjoZp7EY02OP4hfL5Oo8PFJyOyI3tNiRT4_gX8PRbKhGct7tSQxGZVGDoBjINrl-dl4AiXJHtPR48vuXA88CyZQbHAqdcCGMGJvdtEC_ebIyjxDp-CWCAYPVyDnK4-llJAuVCkW9BGq8DNor78SPN-JTfrExgPb56l7gjRID9tPbemwV_Tzjes31EbcRrxFRf3y0kZrXXV3C8TzI1xAHjlJyQpKbA0gkJZR0mFzg-A18FHMObcLMwfbfF8mB7Z-TN549ApRqNvZMTb5iLv7PWAjyd9YafL42zXnCnTc9seiQoE8dpzA4o3tUi0EnH-CtWnb1e8ogWun6Xt8Pv2nbc71T6XKU-9XgwQxSzIaStA3CCcBuxbFns4nH0Rr-s1JiIajI3L8FTAe0v3V0t09vkTBlD7qTyYkWT84zzhugbp18Q948CbtNbESc3HWKR67dQXipAkVhdg8wEksGGZHGzmJFv9T8tOjcwcvGx-9kCeMxrNtzJxDpq5MwhoHCX9-Dhc9vQ_9swq2ASjsowhviCiSem_LKMF80-6Pq-HxmVl3Z-p85YtEB2s5Hw949XIPbb33JniWT2VBQm0g7lzOnmp3aiKWePc1vb1WHYgk7b4ZaFfF44a_eXLWDqGrIPRIDMQF10Zl5gxLiQKP91U-QVssvjEIRTDTe_YE1mPn3a1RZTEGku-dbC-x64KTEkFeqBb8xpBiQsGbEtORscnIS-qnrn5V6qVOlASLOG8cxK8srX1scYhLbQdbKP3CI2sDuxVtUVJocAKG1VRkWV8gF0GEWWAgEybZUufDby4dvu-ITQfJZA77y4U4CYYy3GusK5PUF4=w1920-h1080-s-no-gm?authuser=0" alt="schema" style="width:100%">
                <div class="caption">
                    <p>Schema</p>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>